.button_trigger {
    width: 75px;
    height: 50px;
    color: darkblue;
    font-weight: bold;
    margin: .2rem;
}

.button_refresh {
    width: 75px;
    height: 50px;
    color: darkblue;
    font-weight: bold;
    margin: .2rem;
    color: darkgreen;
    visibility: hidden;
}